[2013-10-06 20:57] mfaerevaag opened #1 "Randomly changes working directory in zsh prompt to '~val'"
After running warp, the current working directory in the zsh prompt is randomly changed to `~val`.

Not seen a specific pattern in regards to arguments.

[2013-10-07 15:37] #1 closed, assigned to mfaerevaag

[2014-05-30 01:54] jcharaoui opened #4 "Please specify a license"
`wd` is being packaged for the Debian distribution through [oh-my-zsh](https://github.com/robbyrussell/oh-my-zsh). `oh-my-zsh` itself is licensed under the Expat license (commonly known as MIT).

As per the Debian Policy, all software distributed must be appropriately licensed.

Please see https://help.github.com/articles/open-source-licensing if you need advice about licensing.

Thanks!

[2014-05-30 08:14] #4 closed, assigned to nobody

[2014-06-05 05:25] hamiltont opened #5 "Error message clarification"
Perhaps clarify that add won't allow names with only periods or only spaces, according to

[code]

I'd say just change the error message, instead of referencing the readme. It's a bit vague that the problem is having all dots or all spaces as-is.

Yes, seems crazy to complain about this, but there may be a zsh bug on CentOS and RH systems that prevents this if-condition from ever succeeding and th

[2014-06-06 05:14] #5 closed, assigned to nobody

[2014-08-03 20:13] maryokhin opened #8 "wd rm not deleting warp point"
First of all, I have an issue of accidentally creating 2 warp points with the same alias to different directories. Shouldn't that be forbidden? And afterwards I can't remove the warp points with `wd rm` :)
![2014-08-03 22 09 45](https://cloud.githubusercontent.com/assets/4390231/3791653/96d72922-1b4a-11e4-9744-9bcfea5cea40.png)
<b>P.S.</b> I removed it manually from `~/.warprc`, but just wanted to

[2014-08-11 12:15] mfaerevaag opened #9 "Global color variables overwriting oh-my-zsh themes"
See [oh-my-zsh issue](https://github.com/robbyrussell/oh-my-zsh/issues/2665).

[2014-08-28 08:53] mfaerevaag opened #11 "Show feature could show path to given warp point"
When running `wd show` it shows warp points to current directory (as of now).

When run with a warp point, `wd show foobar`, it should show path to the `foobar` warp point.

[2014-09-04 16:38] mfaerevaag opened #12 "Show feature should notify when no warp point is found"
When running `wd show` it should say "no warp points found" or something a little more informative than

[code]

[2014-09-06 18:04] altschuler opened #13 "Update readme"
The readme needs to reflect all the new options and features.

Features: show <name>, --version
Options: --config, --debug, --quiet

[2014-09-07 09:40] altschuler opened #14 "Fix man page installation"
The man page is currently not being installed through install.sh

[2014-09-07 19:30] #9 closed, assigned to nobody

[2014-09-07 19:30] #11 closed, assigned to nobody

[2014-09-07 19:30] #12 closed, assigned to nobody

[2014-09-07 19:30] #13 closed, assigned to nobody

[2014-09-07 19:34] #14 closed, assigned to nobody

[2014-09-07 20:07] mfaerevaag opened #15 "Replace methods with `!` with a force flag"
Instead of `add!` and `clean!`, there could be a force flag (`-f` or `--force`) which does the same globally.

[2014-09-07 20:14] mfaerevaag opened #16 "Remove command could take multiple warp points"
To remove multiple warp points (like `foo` and `bar`), one could simply list dem

[code]

[2014-09-09 08:49] altschuler opened #17 "Ability to go to sub dir from warp point"
Let's say we have a tree like

[code]

and a warp point `f` pointing at the `foo` directory. Then it'd be sweet to be able to directly do

[code]

or

[code]

and be warped to `baz` and `qux` respectively.

Another feature would be to edit a file using the `$EDITOR` env variable so we could do something like

[code]

Or even just automagically edit if the target is a file.

And of course we would

[2014-09-09 15:06] mfaerevaag opened #18 "Better describe wd"
The README should do a better job of reflecting what `wd` actually accomplishes, and what the difference is from `oh-my-zsh` plugins like [autojump](https://github.com/joelthelion/autojump) and [z](https://github.com/robbyrussell/oh-my-zsh/tree/master/plugins/z).

[2014-09-11 01:27] kwcto opened #19 "Warp point should not contain whitespace (when there is none)"
[code]

Tried multiple times to verify.  Oh-my-zsh is up to date.

[2014-09-16 06:21] #19 closed, assigned to nobody

[2014-09-20 13:26] #8 closed, assigned to nobody

[2014-09-25 19:14] RaucousCaucusInCaracas opened #22 "Adding a warp point containing "s" gives "Warp point should not contain whitespace" on OSX (10.9.5)"
http://pbrd.co/1mvhRNA

[2014-09-25 19:30] #22 closed, assigned to nobody

[2014-09-29 11:24] Sonique opened #23 "Spacebar in path (MacOs X)"
Hello,
if I want create warp point with path that contains space like `Volumes/My HD/user/dir` sometimes I get error, but sometimes I create warp point but can't wd to it `cd:cd:13: no such file or directory: /Volumes/...` . In .warprc I found that this path writed with `\` before space, after removing slash all works. Now I'm add some path writing directly in .warprc, some paths add with wd.
Than

[2014-09-29 14:26] #23 closed, assigned to nobody

[2014-11-04 22:23] 3lvis opened #26 "Doesn't support folders that contain "Changes" or `wd add changes`"
Maybe I'm wrong or crazy, but having

`cd Projects/Personal/NSManagedObject-ANDYChanges`
`wd add changes`

Was giving me the error that my directory couldn't contain spaces, renaming to `NSManagedObject-ANDYChang` and `wd add chang` worked

[2014-11-06 19:32] #26 closed, assigned to nobody

[2014-12-22 14:01] kkirsche opened #27 "Curling the install script causes infinite loop regarding man pages"
![screen shot 2014-12-22 at 9 00 44 am](https://cloud.githubusercontent.com/assets/947110/5525771/0d547ece-89b9-11e4-9c88-34e51d3133d4.png)

This just cycles constantly and doesn't let me answer

[2015-02-27 03:09] LazerPanther commented on #18
A .gif of your console showing wd in use could be very helpful.

[2015-02-27 14:12] mfaerevaag commented on #18
Great idea! Will look at this when we get some freetime

[2015-08-23 14:40] mawalu opened #30 "Warp to remote server"
I started to use wd a few days ago and I realy like it. I just thought it would be cool if one would be able to do something like `wd add web user@example.com:/srv/http`

[2015-08-27 10:20] mfaerevaag commented on #30
Good to hear!

Agreed, that would be awesome.. Unfortunately I don't have much spare time at the moment, so I don't think it will happen any time soon. Though, it will be on the top of the feature list! Of course you're welcome to hack away on it if you wish :innocent: Anyways, thanks for the great idea!

[2015-09-17 14:27] GeraintCorneu opened #31 "Relative warp paths"
Hi, thanks for this script, you've saved me a lot of time! :)

Is there any functionality for using relative paths? I'd like my .warprc to be portable on my various devices through git.

[2015-09-24 13:12] mfaerevaag commented on #31
Sorry for the late reply!

Agreed! Portability between different devices should be fixed. I'm surprised this has not been noticed before. Thanks for that:)

[2015-09-25 14:10] mfaerevaag commented on #31
Should now be supported, thanks to @hiberabyss

[2015-09-25 14:10] #31 closed

[2015-11-20 14:29] sindrenm opened #34 "Upgrade version"
It feels a bit strange to make an issue for this, but I realized that there are [quite a few changes] made between the most recent version (0.4.1) and master.

Would it be possible to release a new version? It would be really helpful for those of us that gets the plugin through oh-my-zsh, since it looks like oh-my-zsh only updates its plugins when there are new versions released.

Thanks. :smile:

[2015-11-23 21:29] mfaerevaag commented on #34
You are absolutely right, there should be a new version shiped out to oh-my-zsh. Thanks for pointing that out :+1:

I've asked the oh-my-zsh guys to [merge the new stuff](https://github.com/robbyrussell/oh-my-zsh/pull/4634).

There is also a new release of wd, here this repo, namely [v0.4.2](https://github.com/mfaerevaag/wd/releases/tag/v0.4.2).

[2015-11-23 21:29] #34 closed

[2015-11-24 10:45] sindrenm commented on #34
You're my hero, @mfaerevaag, thanks a bunch! :smile:

[2016-01-14 08:40] nntoan opened #35 "Warp points cleanup process suddenly not working"
Hi there,
I don't know why would be happened. This issue happens on OS X only, 1-2 months till now.
You could try add a warp point on OS X, then execute
wd clean
You will see this damn program telling you that your previous warp point doesn't exists which in fact it is.

Please gimme a resolution.

[2016-01-15 19:12] chrisarcand commented on #35
Confirmed not working for me, either. I'm not particularly skilled at bash/shell but I'll try and add a test case later. Thanks for the great plugin.

@nntoan Please refrain from opening pull requests on open source projects immediately referring to it as 'this damn program', as well as 'Please gimme resolution' (the 'please' does not excuse it being a demand for free work).

[2016-03-07 22:36] kigster commented on #30
This is a great idea! I will be adding it to the ruby implementation of wd.

https://github.com/kigster/warp-dir

[2016-03-07 22:54] kigster commented on #35
@mfaerevaag @chrisarcand

On the subject of time and future development – I loved `wd` so much, that I decided I can't live without it even in BASH. So I wrote a ruby gem for it. Right now it's almost at feature parity, but as time permits I'll be adding more  :)

https://github.com/kigster/warp-dir

Thanks for the insipiration!

[2016-03-09 18:00] BenSapiens opened #36 "wd .."
When I use the command "wd ..", which should access the "cd -n" (n number of steps back) functionality as described in the readme, I receive the following error.

wd_warp:6: no such file or directory: 2

I pulled a fresh copy of .oh-my-zsh, so I'm fairly certain it isn't a problem on my end. Let me know if you need any more information.

[2016-03-29 13:58] mfaerevaag commented on #36
Very sorry for my late reply. I am currently using my time trailing the mountains of Norway, and will therefore not have time to check on it in the near future. Will check back asap!

[2016-03-29 14:05] mfaerevaag commented on #35
Hi all! Very sorry for my late reply. I am currently using my time trailing the mountains of Norway, and will therefore not have time to check on it in the near future, unfortunately.

@kigster Awesome! I don't know if you have seen the ruby branch, but I had the same issue with `fish`, so went the same direction. I haven't made much fuzz about it, as i seems that `wd`'s popularity is due to its s

[2016-03-29 21:17] BenSapiens commented on #36
No worries. Enjoy.

[2016-04-11 08:51] creynders commented on #17
👍

[2016-05-07 08:45] fgsch commented on #36
I think the issue here is the comparison.
This works for me:

[code]

[2016-10-11 05:12] mfaerevaag commented on #36
Had completely forgotten this! Is this still an issue? (Or has it magically disappeared?)

[2016-10-11 05:23] mfaerevaag commented on #17
@altschuler What do you know

[2016-10-11 07:46] fgsch commented on #36
Still needed afaict.

[2016-10-13 20:57] BenSapiens commented on #36
It's still an issue. However, fgsch's simple bracket addition works great.

[2016-10-13 21:35] #36 closed

[2016-10-14 17:12] altschuler commented on #17
Please check [this branch](https://github.com/mfaerevaag/wd/tree/subdir) and let me know if there are any issues with it. It needs some testing, but otherwise it seems to work fine.

Instead of typing the slash as in the description of this issue you simply type the subdir after the warp points name, so using the above example:

[code]

results in regular path completion (only directories) for the

[2017-01-24 13:24] lschumm opened #41 "`wd clean!` inexplicably clearing all warp points"
The Bug
======

For example, with no warp points set:
[code]

Info
===

zsh 5.2 (x86_64-apple-darwin16.0). MacOS Sierra 10.12.1 (16B2657). MacBookAir7,1. ZSH selected from Terminal -> Preferences -> General -> Shells open with -> Command (complete path): /bin/zsh

[2017-01-24 13:36] lschumm opened #42 "`wd` not complaining when passed multiple warp points"
The Issue
=======

Suppose we have two warp points set, `test1 -> ~/Desktop` and `test2 -> /dev`. If the command

[code]

is run, then the directory is changed to `test2` without any further information. `wd` should say something like

[code]

(change to your liking)

Info
===

zsh 5.2 (x86_64-apple-darwin16.0). MacOS Sierra 10.12.1 (16B2657). MacBookAir7,1. ZSH selected from Terminal -> Preferenc

[2017-01-24 13:38] lschumm commented on #41
Resolved in PR #37. Please merge!

[2017-01-24 16:19] altschuler commented on #41
Merged, thanks a lot for reporting and reminding :)

[2017-01-24 16:19] #41 closed

[2017-01-24 16:30] altschuler commented on #42
This will be redundant with https://github.com/mfaerevaag/wd/issues/17. With this feature `wd test1 test2` would warp to `<path_to_test1>/test2`.

[2017-04-03 18:37] raxod502 opened #44 "'wd add' should allow elided argument"
One of my more frequent actions with `wd` is:

[code]

Wouldn't it be great if `wd add` defaulted to the current directory name?

[code]

[2017-04-03 19:09] sindrenm commented on #44
This is also one of my most common things to do with `wd`. Personally I've created an alias for doing just that, but I suppose it would be nice with a default, if it's not confusing to the user.

In case you're interested in a temporary solution, here's my simple alias:

[code]

[2017-04-04 05:53] mfaerevaag commented on #44
Agreed. I think giving the add command the default value of `basename $PWD` is a fine.

@altschuler comments?

[2017-04-04 07:17] altschuler commented on #44
Sounds good to me :+1: Should we also provide pwd as deafult for `rm` then? Might cause some unwanted deletion, but it does give some consistency.

[2017-04-04 15:20] Cretezy commented on #44
I had already made a pull request for exactly this. There's a fork in my profile with the implemented code

[2017-04-04 15:20] Cretezy commented on #44
https://github.com/mfaerevaag/wd/pull/40

[2017-04-05 02:13] mfaerevaag commented on #44
@Cretezy has indeed already done this! 🚀 Opened PR again

[2017-04-05 03:00] mfaerevaag commented on #44
As pull-request needed some work I made a the [feature-add/rm-default-cwd](https://github.com/mfaerevaag/wd/tree/feature-add/rm-default-to-cwd) feature branch from #40, rebased, squashed and removed invalid tests. There is still three tests failing, which shouldn't, so something's wrong.

Get back to it this weekend.

[code]

[2017-04-05 04:32] mfaerevaag commented on #35
@chrisarcand do you still have this issue? As you said, a failing test would be very helpful

[2017-04-05 08:38] #44 closed

[2017-04-05 08:53] sindrenm commented on #44
Haven't had much time in front of my computer as of late, so I haven't been able to test, but I'm sure you guys have this all under control. 😃

Great stuff! ❤️

[2017-04-05 09:09] mfaerevaag commented on #18
Ok, so got tired of looking at these issues, so as @LazerPanther suggested, I'm making a gif!

Any comments on what should be included in the gif? @altschuler For example:
[code]

[2017-04-05 09:18] altschuler commented on #18
I would show `wd list` because it looks nice. Also I would merge https://github.com/mfaerevaag/wd/pull/45 and show that :P

[2017-04-05 09:26] sindrenm commented on #18
I feel the tab completion is worth showing too:

[code]

[2017-04-05 10:20] #17 closed

[2017-04-05 10:20] #42 closed

[2017-04-05 11:09] mfaerevaag commented on #18
@altschuler forgotten that you have merge privileges? 😏

Alright, so something like
[code]

[2017-04-05 11:26] mfaerevaag commented on #18
Didn`t get the new feature as my environment is a little messed up. How about this one:
![tty](https://cloud.githubusercontent.com/assets/1221244/24703414/1a4655e0-1a3e-11e7-9335-5cd473c2e167.gif)

[2017-04-06 02:13] mfaerevaag commented on #35
Closing until I hear something

[2017-04-06 02:13] #35 closed

[2017-04-06 02:15] mfaerevaag commented on #18
Btw, this was made with [icholy/ttygif](https://github.com/icholy/ttygif). Give it a try and we'll post the best one 🥇

[2017-04-06 08:54] nntoan commented on #35
@mfaerevaag @chrisarcand Sorry for my behaviour in the past, that was young and stupid me.
For your @mfaerevaag question, it's gone. In the latest oh-my-zsh version, the issue has disappeared.

[2017-05-06 02:36] raxod502 opened #47 "Can't 'wd add' a path with spaces"
It appears the new behavior of `wd add` to default to the basename of the current directory does not quite work right when the directory path includes spaces. Here is an example:

[code]

It appears to be due to some quite frankly bizarre wordsplitting behavior by zsh. I do not have `sh_word_split` enabled, as you can see from the result of `basename $PWD`. I think replacing `basename $(pwd)` with

[2017-05-08 13:01] mfaerevaag commented on #47
Thanks for reporting!

I will try to get time this weekend to check it out. I think we should make a failing test case and fix it again. Could also be interesting to test different zsh options such as `sh_word_split`, as you mention, or other weird ones (`man zshoptions`)..

[2017-05-08 15:40] raxod502 commented on #47
I frequently see

[code]

at the top of zsh functions, to deal with the user having set weird options. This might be a good idea for wd.

[2017-05-22 11:48] #18 closed

[2017-05-22 11:49] mfaerevaag commented on #18
I've pushed the one I made above til someone makes a better one. I'm too busy/lazy to do it again and this issue was hurting my OCD 🙊

[2017-08-24 03:45] raxod502 commented on #47
One solution is to [get impatient and reimplement `wd` in Python](https://github.com/raxod502/wdx) 😛

[2017-08-24 04:38] mfaerevaag commented on #47
Sorry it had to come to that @raxod502. Honestly, I'm doing a year abroad and can only juggle so many courses and research projects at a time. Wish there was someone with the time to create a PR, but that's how it is. I'll let you know when I find the time, but in the mean time, happy hacking 😉

[2017-08-24 04:53] raxod502 commented on #47
Oh I totally don't blame you at all. And honestly, solving this issue in general might be too difficult. I actually tried writing my reimplementation in Zsh to start with, and man are there a lot of weird edge cases with interesting key names.

I may actually provide a pull request to fix this issue, though. It would be simple.

[2017-08-24 05:06] raxod502 commented on #47
Oh. Nevermind. It looks like the bug is actually in `getopt`, which is a little depressing.

[2017-08-24 05:10] mfaerevaag commented on #47
Whaat, that would be unexpected. You have a bug ticket or something?

[2017-08-24 05:13] raxod502 commented on #47
Manpage for `getopt`, in the `BUGS` section.

That said, I haven't done a complete investigation. But I didn't see any wordsplitting weirdness in *your* code (and zsh thankfully makes it hard to do by accident), so based on this I assumed the error was in `getopt`.

[2017-08-24 05:17] raxod502 commented on #47
Wait no this makes no sense. I think I'm completely wrong about this.

[2017-08-24 05:20] raxod502 commented on #47
OK I officially don't have a clue. Now I've actually re-read my original post, which indeed points out exactly what the problem and fix was. Pull request provided.

[2017-08-24 05:20] #47 closed

[2017-08-24 05:23] mfaerevaag commented on #47
Thanks a lot for the PR 😄 I think detecting the spaces without adding support for it is a good compromise.

I'm convinced that we're never going to circumvent all zsh peculiarities, so we'll just have to get by as best we can.

[2017-08-24 05:25] raxod502 commented on #47
Oh I do think it's possible. But it does require automatic unit test generation over thousands of permutations of shell meta-characters, which I was halfway through setting up before switching to Python ;)

[2017-08-24 05:33] mfaerevaag commented on #47
Hm, that sounds like a systematic approach which actually could give some substantial results. Tag me if you every pick it up again!

[2017-08-24 05:35] raxod502 commented on #47
Will do. For my own sanity I'm sticking with Python for my own implementation but it might be nice to make a library that provides a consistent API for associative arrays in zsh that works with absolutely any keys and values. I'll put it on my free-time wishlist.

[2017-10-24 09:06] avently commented on #17
@mfaerevaag @altschuler for me this doesn't work. I have the latest version: 0.4.2.
[code]

Am i doing something wrong?

[2017-10-24 09:18] mfaerevaag commented on #17
@avently

Hm, that's odd. Could you paste `zsh --version`, please?

[2017-10-24 09:27] altschuler commented on #17
@avently just checking; is `htop` a directory?

[2017-10-24 09:28] avently commented on #17
@mfaerevaag zsh 5.4.2 (x86_64-unknown-linux-gnu)

[2017-10-25 04:19] mfaerevaag commented on #17
@altschuler Guess the first step is to reproduce bug. So maybe some unit tests which should pass, and get @avently to run them? I at least, can't reproduce this on my machine.

[2017-10-25 05:01] avently commented on #17
@mfaerevaag, i found the cause of this issue. I use oh-my-zsh and you didn't update your zsh branch to this commit... So i have the same version as you but without that commit.

[2017-10-25 05:57] altschuler commented on #17
Nice detective work! :)

It's worth noting that you need a space after the warp point when auto completing directories, so `wd config<space><tab>` should work, but `wd config<tab>` won't.

[2017-10-25 06:07] avently commented on #17
@altschuler oh, _wd.sh is also changed. I have renewed wd.sh only before your message. With new _wd.sh it works fine. Thank you for your help, guys!

[2017-10-25 06:33] avently commented on #17
@altschuler it is a little bit odd but autocompletion only works with paths not containing ~.
For example, ~/.config will not work.   /home/avently/.config will work. Can you confirm or it's again my fault?
So, if i go to ~/.config and add warp point to that path, .warprc will contain  config:~/.config. And autocompletion will not work until i change path in .warprc to config:/home/avently/.config

[2017-10-25 08:21] mfaerevaag commented on #17
Good call. I've forgotten to update the oh-my-zsh plugin. Submitted PR [#6371](https://github.com/robbyrussell/oh-my-zsh/pull/6371). This does not include your last suggestion though, which I think be tested a little more before submitting.

@altschuler Do you have problems with paths including '~' in your `.warprc`? My zsh auto-completion is messed up in general, so don't really trust it.

[2017-10-25 08:42] altschuler commented on #17
That does indeed seem to be the problem! Adding `val=${val/~/$HOME}` does not seem to work for me though, what is it supposed to do?

[2017-10-25 08:48] avently commented on #17
@altschuler it should replace ~ sign from .warprc with the path to your home dir /home/yourname. It only replace in real-time when you want to query all subdirectories of warp point.
wd something <tab>
So, if you have a point like ~/.config with this fix you should get /home/yourname/.config.

Are you sure you pasted this line in an appropriate place? After initial declaration of `val`

[2017-10-25 09:19] avently commented on #17
@altschuler sorry, markdown ruins the command.
Before ~ you should paste backslash

`val=${val/\~/$HOME}`

[2017-10-25 09:26] altschuler commented on #17
Ah now it works! I guess that expression is replacing the first occurrence of `~` with `$HOME`, right? If I have a point in my warprc like `foo:~/tmp/~foo` it works fine, but `foo:/home/simon/tmp/~foo` breaks, which I assume is because the dirs name `~foo` is being expanded to `/home/simonfoo`.

Any way we can replace it only if it's the beginning of the path? Maybe zsh has a function for this?

[2017-10-25 09:40] avently commented on #17
@altschuler looks not good but works
` [[ ${val:0:1} == "~" ]] && val=$HOME${val:1}`

[2017-10-25 09:58] mfaerevaag commented on #17
According to `man zshall`, line 2044, in the "Variable Expansion" section:

So for me, this works
[code]

[2017-10-25 10:04] avently commented on #17
Cool. That works too.
So, the final answer is
`val=${val/#\~/$HOME}`

[2017-10-25 10:05] altschuler commented on #17
Sweet! Would you like to do a PR @avently?

[2017-10-25 10:06] avently commented on #17
@altschuler no:)

[2017-10-25 10:07] mfaerevaag commented on #17
Maybe with little comment so we remember the reason? We've fixed to many zsh 'gotchas', so I'm starting to lose track 😩

[2017-10-25 10:09] altschuler commented on #17
Haha, honesty is a virtue! We'll take care of it. Thank you very much for your help! :)

[2017-10-25 10:10] mfaerevaag commented on #17
Yep, thanks @avently ! 🤘

[2017-10-25 10:47] avently commented on #17
@mfaerevaag you forgot to update oh-my-zsh branch:)

[2017-10-25 10:57] mfaerevaag commented on #17
@avently https://github.com/mfaerevaag/wd/blob/oh-my-zsh/_wd.sh#L26-L27

Maybe you didn't notice, as I merged it into the bump commit I made just before.

[2017-10-25 11:21] avently commented on #17
@mfaerevaag yes, now i see

[2017-10-25 12:14] x-ji opened #49 "Doesn't work when the path contains /"
I'm on Mac OS 10.13. I have a directory named `Tuebingen17/18WS`. In the shell it seems to be represented as `Tuebingen17:18WS` instead. While I can `cd` to the directory, I can't successfully use `wd` on it. `wd add 1718` works without problems, but `wd 1718` results in `wd_warp:cd:15: no such file or directory: /Users/jx/Dropbox/Tuebingen17`. Apparently, `wd` failed to supply to `cd` the directo

[2017-10-25 13:38] altschuler commented on #49
That's a good point, we're not escaping directory names. When you say "in the shell" do you mean in the `.warprc` file?

[2017-10-26 04:22] mfaerevaag commented on #49
Assuming your `.warprc`, looks something like
[code]

This has something to do with how OS X handles slashes in file names. AFAIK, at a file system level (exFAT), it is not possible. Though in Finder you can, but really the forward slash is replaced by a colon and only displayed as a slash. I might be wrong!

Anyways, when we split each line in `.warprc` on colon, the line, in your case, would be

[2017-10-26 09:40] x-ji commented on #49
Thanks, that branch works.

[2017-10-26 12:40] #49 closed

[2017-10-26 12:42] mfaerevaag commented on #49
Good to hear! Thanks for reporting 👍

[2017-10-26 12:55] mfaerevaag commented on #49
Bumped to `v0.4.4` and added to our standing [PR #6371](https://github.com/robbyrussell/oh-my-zsh/pull/6371) to oh-my-zsh.

[2017-11-01 20:45] mzanibelli commented on #17
Hi. Thanks for this very useful plugin. There seems to be a critical problem with the fix as it overrides `$PATH` which is case-insensitive. I think the variable needs to be scoped with the use of `local`. Does anyone have the same problem ?

[2017-11-01 20:56] altschuler commented on #17
@mzanibelli Thanks! I've pushed a quickfix, just renaming the variable. We'll @mfaerevaag to do the magic of releasing to oh-my-zsh :)

[2017-11-01 21:00] mzanibelli commented on #17
Excellent ! You definitely got it faster :1st_place_medal: I was writing the fix. Thanks

[2017-11-01 21:18] mfaerevaag commented on #17
That was quick! Bumped to v0.4.5 and submitted [PR #6383](https://github.com/robbyrussell/oh-my-zsh/pull/6383) to oh-my-zsh 👍

[2017-11-01 21:22] mzanibelli commented on #17
Oh. And now I'm actually reading it : we forgot to replace an occurrence inside the curly brackets on line 27.

[2017-11-01 21:30] altschuler commented on #17
Woops, I'm going a bit too quick here, didn't see your PR before I pushed that. Shame on me for not testing... Thanks for the review <3

[2017-11-01 21:36] mzanibelli commented on #17
Well i'm slowly learning how to use Github so don't wait for me ! Keep in mind it won't be noticeable if people only `wd` to `/usr/bin` until it's merged ;)

[2017-11-02 01:37] hiberabyss opened #50 "Error occur when run wd"
After update to the latest oh-my-zsh, following errors will occur when run `wd` (wd commit is `2102d10896fe14e912ed6ed8075bb0ddd3a5bc6a`):

[code]

[2017-11-02 07:29] altschuler commented on #50
Hi! This is most likely caused by the bug described here: https://github.com/mfaerevaag/wd/issues/17#issuecomment-341236875

There is a pending PR to oh-my-zsh that fixes this here https://github.com/robbyrussell/oh-my-zsh/pull/6383

[2017-11-08 02:33] mfaerevaag commented on #50
Merged! @hiberabyss could you try updating and see if the bug persists?

[2017-11-08 03:14] hiberabyss commented on #50
@mfaerevaag The bug was fixed after updating. Thanks!

[2017-11-08 04:26] #50 closed

[2017-11-15 16:35] ErsafanRend commented on #36
For me a similar error(?) occurs after I fire up a fresh zsh:
[code]
After first use of `wd` it doesn't occur any more.
So this doesn't bug me. Just wanted to let you know.

Using:
* zsh 5.4.2
* wd 0.4.6
* oh-my-zsh e273cf004e1ff0510aee614168850

[2017-11-15 16:48] ErsafanRend opened #51 "`wd point ..` completes relative to current directory"
Thanks for this awesome tool. This is great work.
I'm using `wd` (0.4.6) on `zsh` (5.4.2) with `oh-my-zsh`.
When I have
[code]
and
[code]
and I want to complete `wd baz ../<TAB>`, I get
[code]
I would expect `wd baz ../` to point to the parent directory of the warp point and not to the parent directory of the current working directory.

Is this intended behaviour?

[2017-11-16 07:32] mfaerevaag commented on #36
Ah yes, this is due to directory stack being empty. The dir stack i a `zsh` feature (see `OLDPATH` in `man cd`.

Doing `wd ..` is the same as `cd -1 > /dev/null`. Essentially is pops the last `PWD` of an internal stack prints it and `cd`s to it.

So I guess the behavior is correct, but the error message is not too descriptive.. Maybe it should be improved. @sindrenm @altschuler Comments?

[2017-11-17 09:26] altschuler commented on #51
Good catch, that is definitely not intended behavior. We'll look into it, thanks! :)

[2017-11-26 00:30] Shrvi opened #52 "Add support for custom .warprc location"
Thank you for your amazing work.

I think it would be nice if the user could specify the location of the .warprc file.
There is the `--config` option and one could create an alias, but it breaks the completion of wd.

The easiest working way (I tested that) is, to set `WD_CONFIG` only if it is unset.
Also use `WD_CONFIG` instead of `CONFIG` in __wd_ to match.

This way user can specify `WD_CONFIG`

[2017-11-26 15:23] mfaerevaag commented on #52
That is very good idea! Hadn't thought of that the `--config` option would break completion.

I would be happy to merge this is if you have working fork and would make a pull request 😇 If not I'll get on this as soon I get some free time 👍

[2017-12-05 03:28] mfaerevaag commented on #52
Thanks for this! 👍

[2017-12-05 03:28] #52 closed

[2017-12-07 21:52] partounian opened #54 "wd should do "wd list" by default [VOTE HERE]"
Thoughts on wd to do wd list by default instead of the help message?

Vote here please: 👍 or 👎

[2017-12-09 06:00] mfaerevaag commented on #54
I personally don't use `wd list` that much, but that doesn't mean it should be done. I think the users of wd should decide, so maybe it's possible to do a vote? Votes could be counted 👍  or 👎  on your issue. What do you think?

[2017-12-09 06:01] mfaerevaag commented on #54
What do you think @altschuler @sindrenm ? Not sure how to get people to vote though. Could various people who has contributed, for instance.

[2017-12-09 16:35] partounian commented on #54
Hey @mfaerevaag , thank you for the reply and leaving it up to the community! I have updated my OP with your voting instructutions. Tagging contributors/other known users is a great idea.

(note: I simply tagged everyone on the contributors page)
@malthejorgensen @hiberabyss @Shrvi @raxod502 @jceb @sindrenm @Cretezy @mrxinu @ruipacheco @kyokley @okiyama @maryokhin @martnu @sergey-kucher @hamiltont

[2017-12-09 17:35] mrxinu commented on #54
I agree a default behavior like this makes a lot of sense. Because laziness. 😄

[2017-12-09 21:26] raxod502 commented on #54
I'm voting against this simply because I think `wd list` is not a very common operation and the easier it is to get a usage message, the better.

[2017-12-09 21:29] mrxinu commented on #54
I'm with @raxod502 on this one. Changing my vote. Like a lemming. I look to things git as sort of the gold standard for command line applications and it behaves the same way - no arguments/flags = usage.

[2017-12-09 22:01] partounian commented on #54
I used z as the motivation since it lists by default.

[2017-12-10 03:29] partounian commented on #54
Noticing that it does not like list wd list default will win, does anyone have an idea why this causes a broken pipe and crash? The if conditions causes the terminal to crash immediately while the else half causes the broken pipe then crash.

Using oh-my-zsh, and macOS.
oh-my-zsh e273cf0
wd version 0.4.6
zsh 5.4.2

[code]

[2018-01-21 13:13] Shrvi commented on #54
@partounian It's an infinite loop.
Maybe to late, but try this:
[code]
For zsh I recommend using `(( $# >= 1 ))` instead of `[ $# -ge 1 ]`

[2018-01-21 21:28] #54 closed

[2018-01-21 21:31] partounian commented on #54
It is never too late to help on an issue!
Thank you @Shrvi it works perfectly. (Note for others: I used the zsh variant)

[2018-03-30 10:38] zxeoc opened #56 "got error when warp point is also a command"
Hi, thanks for the great tool.

But I got error when using it recently. This is the situation. I am recently learning docker, so I put my dockerfiles in "/somewhere/docker" directory. Then I "wd add" it, surely this added a warp point "docker". Till this everything works fine.
But sometimes, when I run "wd docker" to warp to the path, zsh shows these:

It seems something change the PATH. I also go

[2018-03-30 10:56] mfaerevaag commented on #56
Huh, that's a bit curious.. Not really sure what could be going on here. If it has suddenly started failing now, it could have something to do with the environment, altought that doesn't narrow it down too much.

Maybe changing the calls of external commands requiring PATH to be using absolute path, e.g. changing `cat` to `/usr/bin/cat` etc., could stop it from failing. But, if something is overwr

[2018-04-11 19:05] mfaerevaag commented on #56
Does this persist? Is there any way of reproducing it?

[2018-04-16 08:33] zxeoc commented on #56
I'm sorry I was busy these days. It seems not happening again. I'll watch on it. If it happen again, I'll let you know.

[2018-04-17 08:11] mfaerevaag commented on #56
Sounds good. Let us know, and we'll reopen

[2018-04-17 08:11] #56 closed

[2018-06-20 08:13] EugenMayer opened #58 "Prezto support"
I was using this a lot with oh my zsh but moved on to prezto - any hints on how to get this running with prezto? https://github.com/sorin-ionescu/prezto

Thanks!

[2018-06-23 15:57] joncalhoun opened #59 "Can't rm WD paths with a slash (`/`) in them."
To replicate:

[code]

This adds a path and works fine, and `wd some/path` works, btu when you do `wd rm some/path` you get an error:

[code]

[2018-06-23 15:58] joncalhoun commented on #59
For reference, I use slashes to categorize my warp points. Eg I will do `wd go/jon` for `cd $GOPATH/src/github.com/joncalhoun`

[2018-06-25 06:20] mfaerevaag commented on #58
Sorry for the late reply! I am not too familiar with prezto, but I'm definitely up for adding support for it. I'm about to hand in my thesis, so I'll try to take a look at it over the summer 👍

[2018-06-25 14:37] joncalhoun commented on #59
Thanks, and feel free to take your time. I'm not blocked by this or anything.

[2018-08-19 14:02] rlaneyjr commented on #58
I miss WD as well.  Have a look at [here](https://www.gregjs.com/linux/2016/faster-and-more-convenient-file-system-navigation-with-wd-or-warp-dir-or-wdn/).

[2018-08-22 07:08] mfaerevaag commented on #58
I'll get on this as soon as I find some spare time! You haven't got any good links on how to make external prezto modules? Haven't used it myself.

[2018-08-23 18:00] partounian opened #60 "How to mv a file with a wd path?"
I've tried
[code]
and
[code]

I then tried by copy pasting the directory above `mv src/ffmpeg-concat.py ~/go/src/github.com/partounian/etl/` and it worked

[2018-09-07 06:44] altschuler commented on #60
Strictly speaking this is more of an issue with zsh/shells in general and has to do with abbreviated paths.

This will (obviously) work `cp foo ~/test`, but this wont `cp foo "~/test"`. However, this one _will_ work `cp foo "/home/user/test"`. That is, if the input path is a string, it must be the absolute path.

Even if we have the absolute path in the `.warprc`, we substitute the home path with

[2018-09-07 06:53] mfaerevaag commented on #60
Nice one! Don't see any reason by the `path` command should abbreviate the output. I would better understand the `list` command, as it would make the output a bit more readable.

As note on multi-user systems, using `sed "s:${HOME}:~:g"` for abbreviating the home directory would still work, as any path to other users' home dirs wouldn't match.

So, how about removing the abbreviation from `path` a

[2018-09-07 06:56] altschuler commented on #60
That makes sense 🎉 but we need to actively expand them I think, as a lot of people will have the abbreviated paths in their configs already. I'm sure there's some fancy zsh function for that 😜

[2018-09-07 06:58] mfaerevaag commented on #60
Good call 👍

[2018-09-07 17:26] partounian commented on #60
Thank you guys for looking into this! love you all

[2018-11-21 13:42] rsteube commented on #60
There's a zsh feature called [`static named directories`](https://vincent.bernat.ch/en/blog/2015-zsh-directory-bookmarks).
I've added the following to my `.zshrc` which enables tab completion for all warp directories using the `~` prefix (e.g. `cp ~mywarpdir/subdir/myfile target`).

[code]

[2018-12-06 08:10] mfaerevaag commented on #60
Wow, that's very useful, thanks for the info! Should this be added as a feature, or just as a note in the README?  @altschuler

[2018-12-06 08:45] altschuler commented on #60
That's super cool! @rsteube do you think it would make sense to add this to wd as a feature? Maybe just as a function to execute in the users own .zshrc, like `wd_enable_tab_completions_with "~"` or something like that?

[2018-12-06 11:21] mfaerevaag commented on #60
Good idea. It would be awesome if you would be so kind as to make a PR! :tada: If you do, check out `test/tests.sh` and see that everything is working

[2019-02-20 12:12] NickKaramoff opened #65 "Unknown warp point ''"
So I've been trying to use wd, but it doesn't seem to work at all. Whenever I try to use any command it just keeps telling me `Unknown warp point ''`. The .warprc file remains untouched.

![image](https://user-images.githubusercontent.com/6566248/53090887-b21dc880-3521-11e9-9284-fdcd2f5308e7.png)

**wd:** 0.4.6 (supplied with latest oh-my-zsh)
**OS:** macOS 10.14.3
**Terminal:** iTerm2

[2019-02-25 15:11] mfaerevaag commented on #65
Hm, that's strange. Could you try deleting `.warprc` and adding a new warp point?

For instance, what's the output of the the following:
[code]

[2019-02-25 15:22] NickKaramoff commented on #65
It's still the same:

![image](https://user-images.githubusercontent.com/6566248/53347470-327d6880-392a-11e9-9d6e-2b986ddb6211.png)

[2019-02-26 14:57] #60 closed

[2019-03-06 08:01] towc opened #66 "allow slashes to cd relative to warp point"
Say this is my setup:

[code]

Something I keep accidentally doing is this:

[code]

Instead, I guess the intended workflow is

[code]

Any chance this could be a feature? Maybe that would need enabling in the rc file, so it doesn't conflict with people's existing warp points?

Would be lovely if you could also `wd x/y/z/other`, not just one level deep

[2019-03-06 08:08] towc commented on #66
oh, just noticed https://github.com/mfaerevaag/wd/issues/17. Maybe this should be documented somewhere more visible?

So I guess the intended flow is `wd x y`. Still, can this be made to work with slashes as well?

[2019-03-06 08:32] mfaerevaag commented on #66
Ah you're right. We have forgot to document it actually.

And yes, I do believe it's possible as warp names cannot include slashes, and therefore there are no ambiguities when using slash a separator. That being said, I do remember we looked into this, but found that it wasn't trivial to solve due to the zsh completion syntax. You're most welcome to give it a shot yourself, though. If you submit a

[2019-03-20 11:47] towc commented on #66
Another small bug I just noticed: tab completion for the dirs on a non-existent warp name shows what's in `/`:

[code]

[2019-03-20 11:51] towc opened #67 "tab completion for the dirs on a non-existent warp name shows what's in `/`"
[code]

[2019-04-01 08:28] ttnick opened #68 "No tab completion in oh-my-zsh"
I hope it is appropriate to post this as an issue. I recently installed Ubuntu 18.04, zsh and oh-my-zsh. Upgrading from 14.04 would have been hopeless for various reasons. However, while `wd` worked smoothly on my old system including tab completion for warp points. On my new system (basically vanilla including the `.zshrc`), tab completion seems to be broken, since I only get compeltion for files

[2019-04-07 21:00] gutuva commented on #68
Same here in Arch.

[2019-04-15 16:05] altschuler commented on #68
Strange, can you see if zsh ever calls this function? https://github.com/mfaerevaag/wd/blob/303e68fe0104cc4ab780afae9d904b3787fd68a0/_wd.sh#L10

[2019-04-18 12:24] ttnick commented on #68
I just put an `echo "zsh is here\n"` at the beginning of `_wd()` and then called `source .oh-my-zsh/plugins/wd/_wd.sh`. The output then is:
[code]
Might be worth noting that if I restart my terminal this `echo` is not executed, probably should have(?).

[2019-07-12 08:28] eXaminator commented on #68
I have the exact same problem and error as @ttnick

Any chance for someone who understands zsh autocompletion scripts to look into this?

[2019-07-24 09:38] eXaminator commented on #68
I managed to get this fixed. This was due to me using the default zsh installation on mac, which obviously is pretty old.

After installing the latest zsh and zsh-completions versions this works like a charm!

[2019-07-28 11:16] NickKaramoff commented on #65
I have investigated a bit more and I have found out where the problem is.

When iterating over command line options [the variable name `o` is chosen](https://github.com/mfaerevaag/wd/blob/master/wd.sh#L413), which happens to be one of mine zsh aliases. When I disable the alias (or rename the variable) it all works fine.

Maybe it would be wise to change the name in for loop to something more speci

[2019-07-30 06:12] mfaerevaag commented on #65
Aha, I see! And sorry for not following up on this...

Throughout the script, we have the convention of declaring things as local variables, preceeded with `wd_` and unseting it down in the bottom. So yes, first renaming the variable to `wd_o` and declaring it as a local a local variable could work:
[code]
and unseting it again in garbage collection:
[code]
Does this fix the issue? I honestly do n

[2019-07-30 06:15] mfaerevaag commented on #68
Great! As we have been completely clueless on these completion bugs, it would be a relief if this was the cause. @ttnick Can you confirm?

[2019-07-30 07:36] altschuler commented on #65
@mfaerevaag Sounds reasonable to just use the `wd_` prefix for now :)

[2019-07-30 08:26] NickKaramoff commented on #65
Strangely, it doesn't. Declaring `wd_o` as local just breaks everything as it was before.

So, this works (the name doesn't match my alias):
[code]

But this doesn't:
[code]

[2019-07-30 08:27] NickKaramoff commented on #65
Turns out, it was all missing a semicolon

This works:
[code]

[2019-07-30 14:55] ttnick commented on #68
Unfortunately not :( `zsh` is now version 5.7.1 (latest) but auto-complete still does not work.

[2019-08-01 08:26] mfaerevaag commented on #65
When trying to understand why that semicolon changes anything, I became a bit uncertain. If that `o` iterator variable in the for loop is magically defined by getopt, I'm scared of changing it.

Also, I see that the `$o` is also used [here](https://github.com/mfaerevaag/wd/blob/master/wd.sh#L462), which also should be refactored. Not sure why the unit tests didn't catch this.

I'm currently on vac

[2019-08-01 12:09] NickKaramoff commented on #65
Idk what happened to my computer back then, but right now it works both with and without a semicolon (as it should be)

I think that it is because there is in fact no test that would check the `wd $POINT_NAME` (warping) functionality.

[2019-09-06 10:14] ttnick commented on #68
After I encountered the same issue on a different machine with a different OS, I started digging again. Turns out that the fix is already mentioned in the `README`, i.e. `rm .zcompdump*`. I have not recognized it since this section started with `If you're NOT using [oh-my-zsh]`, but this (+ restarting the shell) was all that it takes to make auto-completion work.

I finally will sleep better this

[2019-09-06 10:14] #68 closed

[2019-09-16 19:26] mfaerevaag commented on #68
Awesome, good to hear!

[2019-10-31 08:24] towc opened #71 "cli help doesn't show how to simply warp"
I now love using `wd`, but I remember being confused by what it did when I just typed `wd` the first time.

I think having adding text similar to this would help:
[code]

Would also publicize a workaround for https://github.com/mfaerevaag/wd/issues/66

[2019-11-07 08:46] #67 closed

[2019-11-07 08:47] #65 closed

[2019-11-07 08:48] mfaerevaag commented on #71
Fixed by your [PR#72](https://github.com/mfaerevaag/wd/pull/72) 🥇

[2019-11-07 08:48] #71 closed

[2020-02-18 22:24] cor opened #74 "wd <point> keeps listing all warp points"
## Expected behavior:
When running `wd <point>`, wd warps to the specified directory _without listing all warp points_

## Actual behavior
When running `wd <point>`, wd _prints out a list of all warp points_ and then warps to the specified directory.

[2020-02-25 13:49] mfaerevaag commented on #74
Thanks for reporting!

Could you please share your zsh and wd version? Also, it may have something to do with autocompletion, as `wd <tab>` lists warp points. So try `rm -f ~/.zcompdump; compinit` to rebuild the autocompletion monster in zsh

[2020-03-03 16:07] Acidham opened #75 "WD_CONFIG in .zshrc has no effect"
I tried to define custom location for `.warprc` . I added the following line to `.zshrc`:
`export WD_CONFIG=~/Library/Mobile\ Documents/com~apple~CloudDocs/.config/.warprc`
but it has no effect.

wd version 0.4.6

[2020-03-03 22:52] mfaerevaag commented on #75
Thanks for reporting! Could you please share your zsh and wd version?

[2020-03-04 06:45] Acidham commented on #75
* wd version 0.4.6 taken from oh_my_zsh
* zsh 5.7.1 (x86_64-apple-darwin19.0)

[2020-03-04 08:58] mfaerevaag commented on #75
Could you try doing a checkout of master and see if the problem persists? Been some time since a new release has been made, so there's quite a few commits since 0.4.6

[2020-03-04 13:23] Acidham commented on #75
After updating wd.sh from master I am experiencing a strange behavior.
1. I configured in wd: la → ~/Library/LaunchAgents
2. I type wd la and wd jumps into the directory as configured above
3. my zsh prompt changes to shortcut "la" see below.

**~/Library/LaunchAgents**
▶ wd la

**~la**
▶ la
total 56

[2020-04-19 12:17] AtkLordOverAll commented on #75
Same thing happens to me, I use P10k to see my current directory (my full config is available in my dots repository to replicate).
If I'm in a directory that has a warp-point, I see `~warpname` instead of the path. This persists if you navigate to subdirectories within the warp directory too, e.g. `~warpname/src`.
If this behaviour could be made optional that'd be great.

[2020-04-19 14:38] cor commented on #74
Interestingly, running `wd --version` appears to log the entire source code of wd, without actually noting the wd version. My zsh version is `zsh 5.7.1 (x86_64-apple-darwin19.0)`

[2020-04-21 09:12] jfinas opened #77 "(Linux) "wd_export_static_named_directories:hash:4: no such directory name" when path includes spaces"
warp point: `test  ->  /tmp/my dir`

Using `wd test` to jump to that directory works to be fine, but invocations to wd print an error.

[code]
The corresponding entry in `~/.warprc` looks like this:
[code]

[2020-05-01 15:09] AtkLordOverAll commented on #77
Will be fixed by https://github.com/mfaerevaag/wd/pull/76

[2020-05-02 23:42] mfaerevaag commented on #74
That's quite strange, indeed. Has anything changed? Not sure where to start here..

[2020-05-03 07:35] cor commented on #74
Nothing has changed. It is indeed very strange and I’m not sure how I could provide reproduction instructions

[2020-05-03 08:52] NickKaramoff opened #79 "Antibody installation doesn't work"
Okay, so #78, which I've created, doesn't function properly. After installing the plugin with [Antibody](https://getantibody.github.io/) and trying to execute "wd", it tells me the following:

[code]

It seems that `${0:A:h}`, which should give the scripts absolute path, resolves to `/Users/USERNAME/bin/wd/`, which is a directory that doesn't exist 🤔 I'll try to look into it

[2020-05-03 09:20] NickKaramoff commented on #79
Whoops, I just didn't notice I had left the `wd()` function from the automatic install in my `.zshrc` 😅. Everything works as intended 👍

[2020-05-03 09:20] #79 closed

[2020-05-05 20:28] mfaerevaag commented on #77
@jfinas Can you confirm the the @AtkLordOverAll 's PR solves it for you?

[2020-05-07 12:12] jfinas commented on #77
sorry for replying so late, i struggled to figure out how to actually test that(rather new to this...)

but yes, it seems to fix the issue for me.

[2020-06-10 09:50] alpha-tango-kilo commented on #77
Can be closed now as #76 was merged

[2020-06-10 09:54] #77 closed

[2020-06-12 14:01] ttnick opened #85 "Shell prints ~ before directory after warping"
Hi,

after the last ohmyzsh update whenever I warp into a directory, its name gets displayed wrong. Usually, when I type `wd foobar` my shell prompts `-> foobar` now it does ` -> ~foobar` and it remains like this for the entire session. However, i do not experience this, when I just `cd` into the directory.

It might very well be the case that the issue is rather inside ohmyzsh and not in the plug

[2020-06-14 20:02] alpha-tango-kilo commented on #85
Sounds similar to #75, though seems strange that you don't get the issue when you just `cd` into the directory normally. For my prompt it always displays `~warpname` if I'm in a directory that has a warp point associated.

Vanilla zsh with zsh-syntax-highlightning, p10k, and wd

[2020-06-15 06:42] lucizek commented on #75
I do completely agree. Option to opt-out of this feature is a must - same as many others I do use very shortcut-y names for projects and don't want to see any of that instead of that proper folder name.

[2020-06-18 19:06] jessemutz commented on #85
Same here. If I have a warp point named "bz" for `~/foo/bar/baz`, `$ cd` will give me `~/foo/bar/baz`, whereas `$ wd bz` will propmt `~bz`, which is the name of the warp point.

[2020-07-13 13:02] gscalise commented on #85
Add `WD_SKIP_EXPORT=true` to your `.zshrc` file to fix this issue.

[2020-07-13 14:01] ttnick commented on #85
This works! Thanks!

[2020-07-23 15:03] cor commented on #74
Reinstalling `wd` appears to fix it. Thanks for helping me, @mfaerevaag!

[2020-07-23 15:03] #74 closed

[2020-07-23 15:14] cor opened #86 "wd rm does not work"
When I try to remove a point using `wd rm`, it does not work:

[code]

I've tried running `rm /var/folders/q0/k80c6w4s6nx3jlqhv7zn0y_80000gn/T//wd*` but it did not resolve the issue.

[2020-08-05 08:58] mfaerevaag commented on #86
Thanks for reporting!

What's your zsh and wd version?

[2020-08-05 09:04] #16 closed

[2020-08-05 09:37] mfaerevaag commented on #75
The thing with the prompt being replaced is, from my understanding, a bug caused by a change to ohmyzsh and handled in https://github.com/mfaerevaag/wd/issues/85.

The `WD_CONFIG` thing, though, is still a mystery to me. @alpha-tango-kilo Were you able to reproduce this?

[2020-08-05 09:38] mfaerevaag commented on #85
Is there any way we can get around this without having to add `WD_SKIP_EXPORT=true` when using ohmyzsh?

I haven't used ohmyzsh, or zsh for that matter, for a couple of years now so I'm a bit rusty :fearful:

[2020-08-05 09:41] mfaerevaag commented on #58
Sorry about the delay here. I do not use zsh anymore, so I probably won't do more on this.

Help on this is very welcome!

[2020-08-06 14:54] alpha-tango-kilo commented on #85
Yeah this isnt even ohmyzsh specific, I install everything manually and my P10k prompt still has this issue.

What does the `hash` command even do? It's not one I've come across before as it's a zsh feature AFAIK

We could maybe have this off by default? I dont know what it does but I haven't noticed a difference in my usage of `wd` honestly

[2020-08-07 08:43] mfaerevaag commented on #85
Agreed! If anyone gets the time a PR would be much appreciated :heart: If not, I'll try to find some during one of the following weekends.

[2020-08-07 09:44] alpha-tango-kilo commented on #85
Assign me the issue, I can get to it, shouldn't be hard.

Rename the variable to `WD_EXPORT` so then it's unset (meaning this issue doesn't occur) by default, what do you reckon?

[2020-08-09 16:12] alpha-tango-kilo commented on #86
Could be due to my multi-remove PR, @cor can you verify if the issue still occurs using the `multi-remove` branch of my `wd` fork?

See PR #88 for explainer, but TL;DR `wd rm` without arguments isn't working as intended on master currently

[2020-08-09 16:14] alpha-tango-kilo opened #89 "Test suite does not support being run in a path with spaces"
In the tests very few variables are quoted `"$foo"` instead of `$foo`, meaning everything goes wild if there's a space in the full path to the tests directory.

Shall probably make a PR for this at some point

[2020-08-21 18:34] MatrixManAtYrService opened #91 "feature request: a way to print absolute paths"
Hi, wd is awesome, thanks for maintaining it!

I want to do this:

    python  $(wd path someplace)/somescript.py

But since `wd` prints paths anchored at my home directory (i.e. with a leading ~)  I get errors like:

        python: can't open file '~/path/to/someplace/somescript.py': [Errno 2] No such file or directory

As a workaround I've added

    wdp() {
        WARP_POINT="$(wd path $*)"

[2020-08-26 07:06] #85 closed

[2020-08-26 07:13] mfaerevaag commented on #91
Aha, weird that python doesn't understand anchored paths. I don't have anything against changing the `wd path` command to use absolute path. Let's see if anybody else disagrees.

[2020-08-26 07:14] mfaerevaag commented on #89
Very good point!

[2020-08-26 07:26] mfaerevaag opened #92 "Maintainers wanted"
As many some may have noticed, I am not as responsive and active as I should be. This is partly due to me not using zsh anymore (moved to fish and wd-fish), so developing, testing PRs etc. has become bit of a hassle. For this I apologize!

To avoid letting my unresponsiveness driving other contributors away, I think it's about time that this was  addressed.

Therefore, I would be very happy to giv

[2020-08-26 09:43] alpha-tango-kilo commented on #89
I'm working on a resolution for this on my fork, PR will come through somewhen if no one else touches it in the mean time

[2020-08-26 09:47] alpha-tango-kilo commented on #91
I agree that this makes sense - works better in scripts and is no less usable in any way really. I like the idea and could probably implement it at some point

[2020-08-26 09:49] alpha-tango-kilo commented on #92
Following the resolution of #89 I would be happy to maintain `wd`. I'm not best comfortable with zsh but given how simple and robust the core logic of the program is, I think I'd be up to the task

[2020-08-26 12:56] raxod502 commented on #92
As another option, some time ago I created a replacement for wd which I have used since: https://github.com/raxod502/wdx

[2020-08-26 14:13] NickKaramoff commented on #92
I would be happy to support this project but my experience with [Z] Shell is not going to be enough; I am a noob 😅

[2020-08-26 17:04] mfaerevaag commented on #92
@alpha-tango-kilo I've invited you as a contributor :champagne:

@NickKaramoff Cool, thanks! I'll let @alpha-tango-kilo have control of the buttons for now, but issue fixes and PR are much appreciated

[2020-08-26 17:35] Cretezy commented on #92
Unfortunately I'm very short on time these days, hopefully this project lives on!

[2020-08-26 21:29] alpha-tango-kilo commented on #92
Thank you kindly, I look forward to working with everyone moving forwards!

[2020-08-26 21:30] alpha-tango-kilo commented on #86
PR merged, closing this

[2020-08-26 21:30] #86 closed

[2020-08-26 22:05] #89 closed

[2020-08-27 10:06] Ilyes512 opened #94 "Unresolved conflict in wd.sh?"
See https://github.com/mfaerevaag/wd/blob/master/wd.sh#L440-L448

That is a unresolved merge conflict? WD is currently broken :).

[2020-08-27 10:08] alpha-tango-kilo commented on #94
Great first day as a maintainer - give me 5 minutes!

[2020-08-27 10:12] #94 closed

[2020-08-30 02:09] MattLewin commented on #92
I’m definitely willing to contribute. I’ve done a lot of ksh, tcsh, bash, and zsh over the years (yes, I’m old), but I still feel far from mastery. @alpha-tango-kilo I am at your disposal.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-09-02 21:28] alpha-tango-kilo commented on #92
I think having more than one active maintainer would be really good for checking coding style and bouncing ideas off of, so working alongside someone would be cool if you were happy to let another someone at your pet project @mfaerevaag

[2020-09-03 10:34] #15 closed

[2020-09-04 21:20] alpha-tango-kilo commented on #58
Taken a look at Prezto (I don't use it myself), and it doesnt look like they'd be interested in adding `wd`, as they already have equivalent tools

https://github.com/sorin-ionescu/prezto/issues/1265#issuecomment-298303601

If someone wants to open an issue there and it gets a thumbs up, I'm sure we could work it out, but I'm closing this for now

[2020-09-04 21:20] #58 closed

[2020-09-04 22:44] alpha-tango-kilo commented on #66
This is now a thing! Work in progress, but the core of the functionality is there :smile:

See the PR above

[2020-09-06 11:48] alpha-tango-kilo commented on #75
@Acidham are you still experiencing this issue?

Going to close this issue unless we hear from you in a few days

[2020-09-07 07:25] Acidham commented on #75
fixed ...thank for the heads up!

[2020-09-07 07:25] #75 closed

[2020-09-07 08:14] mfaerevaag opened #98 "Idea: Collaborators overview in README"
**Is your feature request related to a problem? Please describe.**
We should give credits to the contributors! As I have given the maintainer role away, this has become even more important, as to reflect who's actually doing the work :1st_place_medal:

**Describe the solution you'd like**
Adding a section to the README headlined with "Contributors" seems to be a common way in the open source commu

[2020-09-07 12:32] alpha-tango-kilo commented on #98
I think stating who the maintainers are in the README is a solid idea, I'll add that in at some point.

As for the rest of contributions I think GitHub's built in thing you've highlighted is good, plus like with the release notes for v0.5.0 I gave credits to anyone who contributed to something in the changelog, so I think that's a fair system to credit those lovely people who submit PRs

[2020-09-07 14:03] mfaerevaag commented on #98
Cool! Yeah, really like that release :100: :100:

[2020-09-07 18:55] alpha-tango-kilo commented on #98
Thought it was about time 😎

[2020-09-08 13:46] alpha-tango-kilo commented on #98
Added maintainers section

[2020-09-08 13:46] #98 closed

[2020-09-11 14:16] #59 closed

[2020-09-11 14:16] #91 closed

[2020-09-16 09:25] alpha-tango-kilo opened #99 "Migrating to travis-ci.com from travis-ci.org"
Currently this repo uses Travis CI for testing, however following a [recent announcement email](https://mailchi.mp/3d439eeb1098/travis-ciorg-is-moving-to-travis-cicom?e=b2d1739a52), they're going to be moving from a .org domain to a .com, requiring manual intervention for repository owners.

@mfaerevaag can you take a look at this and see if anything needs doing please?

You can see the documentat

[2020-09-20 19:14] mikestopcontinues opened #100 "Bug report: Add warp point requires answering: `remove /var/folders/d7/...?`"
**Describe the bug**
When I run something like `wd add <key>`, I'm asked to answer the following:

`remove /var/folders/d7/lzqxykg13nj607z1jnxxtjzr0000gn/T//wd.[HASH]?`

It works whether I answer Y or N. I'm not sure when this bug creeped in, but its from the version packaged with OMZ.

**To Reproduce**
Steps to reproduce the behavior:
1. `wd add <key>`
2. See `remove /var/folders/d7/lzqxykg13nj60

[2020-09-20 19:23] alpha-tango-kilo commented on #100
I'm guessing you have an alais for `rm` in your config that makes it interactive by default?

If you confirm this, I can patch this nice and easily

[2020-09-20 20:10] mfaerevaag commented on #99
Sure, I'll handle it :+1: Perhaps moving to Github Actions could be nice, which wasn't available when I first set it up. Any preferences?

[2020-09-20 20:49] mikestopcontinues commented on #100
Whoa, it turns out I do have such an alias, though I didn't create it. Turns out it's the OMZ common-aliases plugin. I'm not sure why it only started happening now, though I haven't created any new warp points in quite a while. I'd very much appreciate a patch, but if you consider it outside scope, I'll just disable the plugin.

https://github.com/ohmyzsh/ohmyzsh/blob/master/plugins/common-aliases

[2020-09-20 21:19] alpha-tango-kilo commented on #99
I'd prefer Travis personally as it's not GitHub/Microsoft dependent, but either works

[2020-09-20 22:06] alpha-tango-kilo commented on #100
Issue solved in latest commit to master and v0.5.1

I've opened a PR on ohmyzsh to get this sorted updated there for you too: https://github.com/ohmyzsh/ohmyzsh/pull/9273

[2020-09-20 22:06] #100 closed

[2020-09-21 00:09] mikestopcontinues commented on #100
Thanks a million!

[2020-11-22 05:47] heartburn22 opened #102 "Bug report: can't delete points with noclobber enabled"
Trying to delete points, I would always receive an error: file exists. "Something bad happened! Sorry."

After some poking around, I found that this line was causing the error:

if sed -n "/^${point_name}:.*$/!p" "$WD_CONFIG" > "$config_tmp" && command cp "$config_tmp" "$WD_CONFIG" && command rm "$config_tmp"

Then I realized that I must have noclobber on. I modified the line like this, and now th

[2020-11-22 10:45] alpha-tango-kilo commented on #102
Thanks for the report! I'll look into over the next few days

Link to [noclobber](https://mywiki.wooledge.org/NoClobber)

[2020-11-23 21:58] alpha-tango-kilo commented on #102
Hi @heartburn22, I'm looking into this and I'm struggling to replicate the issue. I know it's an easy fix, but I still want to be able to replicate the issue for the sake of adding a test case for this. Could you provide the minimal set of steps from a fresh wd install (can be faked by simply changing the `WD_CONFIG` variable) to getting this error, provided `noclobber` is set? Cheers

[2020-11-24 05:47] heartburn22 commented on #102
Hi!

I reverted back to the original version of the script, logged out and back in and did this:

Password:

~
❯ wd list
 * All warp points:
c  ->  ~/.config/zsh
d  ->  ~/.dotfiles

~
❯ wd add h
wd_add:30: file exists: /home/dot/.config/zsh/wd-bookmarks
 * Warp point added

~
❯ wd rm h
wd_remove:14: file exists: /home/dot/.cache/tmp/wd.mpOKA0WBg9
 * Something bad happened! Sorry.

~
❯

I am runnin

[2020-11-24 06:06] heartburn22 commented on #102
I just realized that i had my environment set because I was trying to debug it. I commented that stuff out and did it again

`#    WD_CONFIG=${ZDOTDIR}/wd-bookmarks; \
#    TMPDIR=${XDG_CACHE_HOME}/tmp; \
#    source ${ZDOTDIR}/wd.sh
    source /usr/share/wd/wd.sh`

`Password:

~
❯ wd list
 * All warp points:

~
❯ wd add h
wd_add:30: file exists: /home/dot/.warprc
 * Warp point added

~
❯ wd rm h

[2020-11-24 06:19] heartburn22 commented on #102
I did this:

[code]

and I got this:

[code]

[2020-11-26 14:55] mfaerevaag commented on #99
Seems like something is working: https://travis-ci.com/github/mfaerevaag/wd/builds/204671650

Maybe just change the URL of the badge in the README then?

[2020-11-27 11:51] #99 closed

[2020-11-27 11:58] alpha-tango-kilo commented on #102
I still haven't been able to reproduce this myself, but I'll merge the fix regardless.

Please note that sourcing wd.sh is not the correct way to use wd, it's instead meant to be added as a function to your `.zshrc` (see [here](https://github.com/mfaerevaag/wd#manual))

[2020-11-27 12:01] #102 closed

[2020-11-27 12:26] heartburn22 commented on #102
Am I doing it wrong? This is the whole thing from my .zshrc

[code]
Anyway, thanks! I'm enjoying using wd!

[2020-11-27 14:47] alpha-tango-kilo commented on #102
What you're doing will work (as you've noticed), but isn't really sensible. There's no need to set the environment variables every time you call `wd`, environment variables are meant to be mainly static anyway. The semi-colons and backslashes also basically cancel each other out in that `;` specifies the end of a command (loosely speaking), and `\` would be used (typically) at the end of a line to

[2022-02-17 17:25] kelbyers opened #105 "Bug report: wd show command does not work for directories under home"
**Describe the bug**
`wd show` is not correctly showing warp points that are located within my home directory structure. Warp points that just go to `$HOME` do show up with the `show` command.

**To Reproduce**
Steps to reproduce the behavior:
1. create and `cd` to a temporary unique directory in your home directory: `cd $(mktemp -d ~/tmp.XXXXXXXX)`
2. add a warp point to the directory: `wd add my

[2022-02-17 18:03] altschuler commented on #105
Strange, I can't reproduce with exactly your steps. Does `wd show` work for other warp points?

[2022-02-18 17:05] kelbyers commented on #105
`wd show` works for anything that is not a subdirectory of my home directory:

[code]

[2022-02-18 17:07] kelbyers commented on #105
Hmm. `wd show <point>` does work:
[code]

[2022-03-04 21:02] kelbyers commented on #105
Sorry about taking so long. I have run the tests:

[code]

[2022-03-04 21:07] kelbyers commented on #105
Looks to me like the difference is in the output of the `wc` command. The version that comes with MacOS seems to indent the output.

[code]

Here is the output from gnu's `wc`:
[code]

[2022-03-04 21:22] kelbyers commented on #105
One thing that I notice looking at the code for `wd_show`. When figuring out the current directory to look for in the list of warp points, it runs: `PWD="${PWD/$HOME/~}"`. My understanding is that the intent of that is turn something like `/Users/kelbyers/git` into `~/git`. That doesn't seem to work, at least on my MacOS:

[code]

[2022-03-04 21:32] kelbyers commented on #105
Well, ignore my comment above. I looks like the substitution does work when I quote it:
[code]

[2022-03-04 21:51] kelbyers commented on #105
Running with debug output `(set -x ; wd show)`:

[code]

[code]

[2022-03-13 18:26] alpha-tango-kilo commented on #105
Looks like the issue may be being caused by how the warp point is formatted when it's saved - it's not matching anything when it's being looked up [here](https://github.com/mfaerevaag/wd/blob/5db678c9c3d70c1577ac0237df89b07b6e9feede/wd.sh#L298).

From your `WD_CONFIG` (which is `~/.warprc` IIRC, unless you've changed it), how is the warp point saved? Is the path `/Users/kelbyers/git`, or `~/git`?

[2022-03-13 18:28] alpha-tango-kilo commented on #105
Alternatively adding an `echo` after [`points` is loaded](https://github.com/mfaerevaag/wd/blob/5db678c9c3d70c1577ac0237df89b07b6e9feede/wd.sh#L396-L406) may show the same information

[2022-03-15 17:29] kelbyers commented on #105
the saved warp points are like this:
[code]

[2022-10-06 10:10] tomterl commented on #105
I have the same symptoms and it looks like the zsh option `extended_glob` is causing this at my end:

[code]

[2022-10-06 12:44] alpha-tango-kilo commented on #105
This is why I never found the issue, because the things were literally equal (to my puny human eyes), thank you for finding this!

[2022-10-06 17:20] #105 closed

[2022-10-06 17:24] alpha-tango-kilo opened #110 "Idea: GitHub actions"
RIP Travis, you will be missed. Would be nice to still have CI though, makes things far easier to passively maintain (I'm not currently using zsh or wd on any of my main machines)

I've never used GitHub ideas myself so would massively appreciate someone stepping up if they have the know-how!

[2022-10-11 13:03] #110 closed

[2022-11-02 23:35] kelbyers opened #114 "Bug report: after running `wd show` PWD environment variable is changed and impacts other zsh plugins that need it"
**Describe the bug**
My zsh theme is `spaceship-prompt/spaceship-prompt`. That theme includes the current directory in the prompt. Running `wd show` causes the prompt to show an incorrect value. Changing directories will regenerate the prompt with the correct value, but other commands do not cause the prompt to rebuild. Attempting to `cd $PWD` fails, but `cd ; cd -` works. Apparently, the value of

[2022-11-03 17:50] alpha-tango-kilo commented on #114
I've pushed [a new branch](https://github.com/mfaerevaag/wd/tree/unclobber-pwd) for you which may fix the issue - would you be able to try it and see for me please? Not currently using zsh (or even Linux) so I don't have a quick way of making sure this works

If it doesn't work and you know a fix that will, I'd happily accept a PR for this. I don't think `wd` should be clobbering environment varia